<app-header></app-header>

<section class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="mb-3 row">
                <h1>Dados do admin</h1>
            </div>

            <div class="mb-3 row">
                    <label for="staticEmail" class="col-sm-2 col-form-label">nome</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="name" placeholder="Karl Marx" value="Lauren Karl Marx Jauregui" readonly>
                    </div>
            </div>
            <div class="mb-3 row">
                <label for="staticEmail" class="col-sm-2 col-form-label">e-mail</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" id="valorMockEmailAdmin" value="laurenjauregui@admin.siscamovel.com.br" readonly>
                </div>
            </div>

            <br>

            <div class="mb-3 row">
                <div class="d-grid gap-2 col-12 mx-auto">
                    <a class="btn btn-outline-dark" type="button" href="admin/gerenciar/admin" target="_blank">gerenciar conta de admins</a>
                    <a class="btn btn-outline-danger" type="button" href="admin/gerenciar/veiculos" target="_blank">gerenciar conta de veículos</a>
                </div>
            </div>
        </div>
    </div>
</section>

<br>

<app-footer></app-footer>