<div class="container mx-auto">
    <table class="table-auto" *ngIf="veiculos && veiculos.length > 0">
        <thead>
          <tr>
            <th>Fabricante</th>
            <th>Modelo</th>
            <th>Ano</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let veiculo of veiculos">
            <td>{{ veiculo.fabricante }}</td>
            <td>{{ veiculo.modelo }}</td>
            <td>{{ veiculo.ano }}</td>
          </tr>
        </tbody>
      </table>
      <p *ngIf="!veiculos || veiculos.length <= 0"> Oops! Plataforma sem veiculos cadastrados</p>
</div>