    <!-- header -->
    <section class="container-fluid">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4">
            <a href="admin/home" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                <span class="fs-2 fasterone">siscamovel</span>
                <span class="fs-6"> &nbsp; admin</span>
            </a>
            
            <ul class="nav nav-pills">
                <li class="nav-item"><a href="" class="nav-link">log out</a></li>
            </ul>
          </header>
        </section>