<app-header></app-header>

<section class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="mb-3 row">
                <h1>listagem de veículos elétricos</h1>
            </div>

            <div class="mb-3 row">
                <div class="col-sm-10">
                    <button class="btn btn-outline-danger" type="button" data-bs-toggle="modal" data-bs-target="#gerenciarVeiculos">cadastrar novo veículo</button>
                </div>
            </div>

            <br>

            <div class="mb-3 row">
              <div class="col-sm-12">
                <input class="form-control" type="search" placeholder="Pesquisar" aria-label="Pesquisar" autofocus id="inputPesquisa">
              </div>
            </div>

            <div class="mb-3 row table-responsive">
                <table class="table table-bordeless table-sm table-hover" *ngIf="veiculos && veiculos.length > 0">
                    <thead>
                      <tr>
                        <th scope="col">Fabricante</th>
                        <th scope="col">Modelo</th>
                        <th scope="col">Ano</th>
                        <th scope="col">Capacidade</th>
                        <th scope="col">Potência</th>
                        <th scope="col">Torque</th>
                        <th scope="col">Velocidade máxima</th>
                        <th scope="col">Tempo</th>
                        <th scope="col">Volume do porta malas</th>
                        <th scope="col">Pneus / Rodas</th>
                        <th scope="col">Garantia</th>
                        <th scope="col">Preço</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let veiculo of veiculos">
                        <td>{{ veiculo.fabricante }}</td>
                        <td>{{ veiculo.modelo }}</td>
                        <td>{{ veiculo.ano }}</td>
                        <td>{{ veiculo.capacidade }}</td>
                        <td>{{ veiculo.potencia }}</td>
                        <td>{{ veiculo.torque }}</td>
                        <td>{{ veiculo.velocidadeMaxima }}</td>
                        <td>{{ veiculo.tempo }}</td>
                        <td>{{ veiculo.volumePortaMalas }}</td>
                        <td>{{ veiculo.pneusRodas }}</td>
                        <td>{{ veiculo.garantia }}</td>
                        <td>{{ veiculo.preco }}</td>
                      </tr>
                    </tbody>
                  </table>
                  <p *ngIf="!veiculos || veiculos.length <= 0"> 
                    Oops! Sem veículos cadastrados :/
                    <br>
                    Para adicionar um, clique em 'cadastrar novo veículo'.
                  </p>
            </div>
        </div>
    </div>
</section>

<br>

<app-footer></app-footer>


<!-- Modal: Cadastrar veículo -->
<div class="modal fade" id="gerenciarVeiculos" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="gerenciarVeiculosLabel">Cadastro de veículos</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div id='listaRegistros' class="modal-body">
            <form id='cadastroRegistro' class="row g-3 needs-validation">
              <div class="col-md-12">
                <label for="fabricante" class="form-label">Fabricante</label>
                <input type="text" class="form-control" id="fabricante" required>
              </div>
                <div class="col-md-6">
                  <label for="modelo" class="form-label">Modelo</label>
                  <input type="text" class="form-control" id="modelo" placeholder="renault marx" required>
                </div>
                <div class="col-md-6">
                  <label for="anoFabricacao" class="form-label">Ano de fabricação</label>
                  <input type="text" class="form-control" id="anoFabricacao" placeholder="2022" required>
                </div>
                <div class="col-md-6">
                    <label for="capacidade" class="form-label">Capacidade</label>
                    <input type="text" class="form-control" id="capacidade" required>
                </div>
                <div class="col-md-6">
                    <label for="potencia" class="form-label">Potência</label>
                    <input type="text" class="form-control" id="potencia" required>
                </div>
                <div class="col-md-6">
                  <label for="torque" class="form-label">Torque</label>
                  <input type="text" class="form-control" id="torque" required>
                </div>
                <div class="col-md-6">
                  <label for="velocidadeMaxima" class="form-label">Velocidade máxima</label>
                  <input type="text" class="form-control" id="velocidadeMaxima" required>
                </div>
                <div class="col-12">
                    <label for="tempo" class="form-label">Tempo</label>
                    <input type="text" class="form-control" id="tempo" required>
                  </div>
                  <div class="col-12">
                    <label for="volumePortaMalas" class="form-label">Volume do Porta Malas</label>
                    <input type="text" class="form-control" id="volumePortaMalas" required>
                  </div>
                  <div class="col-12">
                    <label for="pneusRodas" class="form-label">Pneus / Rodas</label>
                    <input type="text" class="form-control" id="pneusRodas" required>
                  </div>
                  <div class="col-12">
                    <label for="garantia" class="form-label">Garantia</label>
                    <input type="text" class="form-control" id="garantia" required>
                  </div>
                  <div class="col-12">
                    <label for="preco" class="form-label">Preço</label>
                    <input type="text" class="form-control" id="preco" required>
                  </div>
                <div class="col-12 modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                  <button type="submit" class="btn btn-primary">Salvar dados</button>
                </div>
              </form>
        </div>
      </div>
    </div>
  </div>