<app-header></app-header>

<section class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="mb-3 row">
                <h1>listagem de veículos elétricos</h1>
            </div>

            <div class="mb-3 row">
                <div class="col-sm-10">
                    <a href="admin/cadastro/veiculo" class="btn btn-outline-danger" type="button" >cadastrar novo veículo</a>
                </div>
            </div>

            <br>

            <div class="mb-3 row">
              <div class="col-sm-12">
                <input class="form-control" type="search" placeholder="Pesquisar" aria-label="Pesquisar" autofocus id="inputPesquisa">
              </div>
            </div>

            <div class="mb-3 row table-responsive">
                <table class="table table-bordeless table-sm table-hover" *ngIf="veiculos && veiculos.length > 0">
                    <thead>
                      <tr>
                        <th scope="col">Fabricante</th>
                        <th scope="col">Modelo</th>
                        <th scope="col">Ano</th>
                        <th scope="col">Capacidade</th>
                        <th scope="col">Potência</th>
                        <th scope="col">Torque</th>
                        <th scope="col">Velocidade máxima</th>
                        <th scope="col">Tempo</th>
                        <th scope="col">Volume do porta malas</th>
                        <th scope="col">Pneus / Rodas</th>
                        <th scope="col">Garantia</th>
                        <th scope="col">Preço</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let veiculo of veiculos">
                        <td>{{ veiculo.fabricante }}</td>
                        <td>{{ veiculo.modelo }}</td>
                        <td>{{ veiculo.ano }}</td>
                        <td>{{ veiculo.capacidade }}</td>
                        <td>{{ veiculo.potencia }}</td>
                        <td>{{ veiculo.torque }}</td>
                        <td>{{ veiculo.velocidadeMaxima }}</td>
                        <td>{{ veiculo.tempo }}</td>
                        <td>{{ veiculo.volumePortaMalas }}</td>
                        <td>{{ veiculo.pneusRodas }}</td>
                        <td>{{ veiculo.garantia }}</td>
                        <td>{{ veiculo.preco }}</td>
                      </tr>
                    </tbody>
                  </table>
                  <p *ngIf="!veiculos || veiculos.length <= 0"> 
                    Oops! Sem veículos cadastrados :/
                    <br>
                    Para adicionar um, clique em 'cadastrar novo veículo'.
                  </p>
            </div>
        </div>
    </div>
</section>

<br>

<app-footer></app-footer>