<body class="green-hive text-center">
        
    <main class="form-signin">
            <h1 class="fs-2 fasterone">siscamovel</h1>
            <h6 class="fs-6"> &nbsp; admin</h6>

            <br>

            <form action="" method="post">
            <div class="form-floating">
                <input type="text" class="form-control" id="mockAdminID" placeholder="Admin ID" value="carolinepolachek" required>
                <label for="mockAdminID">Admin ID</label>
            </div>
            
            <!--div class="form-floating">
                <input type="password" class="form-control" id="mockSenhaAdmin" placeholder="Password" value="PreludeAlbum" required>
                <label for="mockSenhaAdmin">Senha</label>
            </div-->

            <div class="mb-3"></div>
            
            <a href="admin/home" class="w-100 btn btn-lg btn-danger" type="submit">Log in</a>
        </form>
            <p class="mt-5 mb-3 text-muted fw-bolder">&copy; DANILO SANTOS 2023</p>           
    </main>
</body>