<app-header></app-header>

<div class="container">
    <main>
      <div class="py-4">
        <h2>Editar admin: {{ detalhesAdmin.nomeadmin }}</h2>
      </div>
      <div class="row g-5">
        <div class="col-md-7 col-lg-8">
          <h4 class="mb-3">Dados</h4>
          <hr class="my-4">
          <form #form="ngForm" (ngSubmit)="editarAdmin()">
            <div class="row g-3">
              <div class="col-sm-6">
                <label for="nomeadmin" class="form-label">Nome</label> <input type="text" class="form-control" id="nomeadmin" name="nomeadmin" [(ngModel)]="detalhesAdmin.nomeadmin" placeholder="" required>
              </div>
              <div class="col-sm-6">
                <label for="siscamail" class="form-label">Siscamail</label> <input type="email" class="form-control" id="siscamail" name="siscamail" [(ngModel)]="detalhesAdmin.siscamail" placeholder="" required>
              </div><br>
              <br>
              <h4 class="mb-2">Admin ID</h4>
              <hr class="my-4">
              <div class="col-sm-12">
                <label for="id" class="form-label">Nº Admin ID</label> <input type="text" class="form-control" id="id" name="id" placeholder="" [(ngModel)]="detalhesAdmin.id" required readonly>
              </div><br>
              <br>
              <hr class="my-4">
              <button class="btn btn-dark" type="submit">Alterar informações de admin</button>
              <button class="btn btn-danger" type="button" (click)="excluirAdmin(detalhesAdmin.id)">Excluir Admin</button>
              <a href="admin/gerenciar/admin" class="btn btn-secondary" type="button">Cancelar solicitação</a>
            </div>
          </form>
        </div>
      </div>
    </main>
  </div>

  <div class="p-5"></div>

<app-footer></app-footer>