    <!--
    <style>
      .bi {
        vertical-align: -.125em;
        fill: currentColor;
      }
    </style>
    
<div class="col-lg-8 mx-auto p-4 py-md-5">
  <header class="d-flex align-items-center pb-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
      <span class="fs-4">
        <img src="https://www.whereismuna.com/assets/img/munalogo.png" class="img-fluid" width="123" height="46">
      </span>
    </a>
  </header>

  <main>
    <h3>Anything But Me</h3>
    <br>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/olo9MCKosAI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>    
  </main>
  <footer class="pt-4 text-muted">
    MUNA - Anything But Me &middot; &copy; 2023
  </footer>
</div> -->

<router-outlet></router-outlet>
