<app-header-home></app-header-home>

<div class="d-flex align-items-center justify-content-center vh-50">
    <div class="text-center row">
        <div class="col-md-12">
            <img src="https://cdn.pixabay.com/photo/2017/03/09/12/31/error-2129569__340.jpg" alt=""
                class="img-fluid">
        </div>
        <div class=" col-md-12 mt-5">
            <p class="fs-3"> <span class="text-danger">Oops!</span> Página não encontrada :/</p>
            <p class="lead">
                A página que você está procurando não existe.
            </p>
            <button class="btn btn-primary" type="button" (click)="voltarParaAPaginaAnterior()">Ir para a página anterior</button>
        </div>

    </div>
</div>
