<app-header></app-header>

<section class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="mb-3 row">
                <h1>conta de administradores</h1>
            </div>

            <div class="mb-3 row">
                <div class="col-sm-10">
                    <a href="admin/cadastro/admin" class="btn btn-outline-dark" type="button" >cadastrar admin</a>
                </div>
            </div>

            <br>

            <div class="mb-3 row">
              <div class="col-sm-12">
                <input class="form-control" type="search" placeholder="Pesquisar" aria-label="Pesquisar" [(ngModel)]="buscaTexto" autofocus>
              </div>
            </div>

            <div class="mb-3 row table-responsive">
                <table class="table table-bordeless table-sm table-hover" *ngIf="admins && admins.length > 0">
                    <thead>
                      <tr>
                        <th scope="col">Admin ID</th>
                        <!--<th scope="col">Nome</th>-->
                        <th scope="col">E-mail</th>
                        <th scope="col">Opções</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let admin of admins | buscaTexto: buscaTexto">
                        <td>{{ admin.id }}</td>
                        <!--<td>{{ admin.nomeadmin }}</td>-->
                        <td>{{ admin.siscamail }}</td>
                        <td><a [routerLink]="['#', '/admin', 'editar', 'admin', admin.id]">Ver</a></td>
                      </tr>
                    </tbody>
                  </table>
                  <p *ngIf="!admins || admins.length <= 0"> 
                    Oops! Base de dados não encontrada :/
                    <br>
                    Para adicionar, clique em 'cadastrar admin'.
                  </p>
            </div>
        </div>
    </div>
</section>

<br>

<app-footer></app-footer>